body{
    background-color: white;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
  
  .rounded-circle {
    width: 250px;
    height: 250px;
    align-content: center;
    margin: 0 auto;
  }
  
  
  
  .content{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display:none;
  }
  
  .content p{
    padding: 10px 15px;
    margin: 0;
    color: #333;
  }
  
  h3 {
    text-align: center;
  }
  
  body.dark-mode {
    background-color: #111;
    color: #eee;
  }
  
  body.dark-mode a {
    color : #111;
  }
  body.dark-mode button {
    background-color: #eee;
  }
  body.dark-mode h2 {
    color: #6699ff;
  }
  
  body.light-mode {
    background-color: #eee;
    color: #111;
    }
  }
  
  body.light-mode a {
    color: #111;
  }
  
  body.light-mode button {
    background-color: #111;
    color: #eee;
  }

  .ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0; /* support: IE7 */
    font-size: 100%;
    border:1px solid #FDF8E4;
    background:#846733;
    color:#fff;
  }
  