<!doctype html>
{% load static %}
<html lang = "en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        

        <!-- CSS -->
        <link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}">
        <link rel = "stylesheet" href = "{% static 'css/style.css' %}">

        <title>story 7</title>

    </head>

    <body id = "body" class = "dark-mode">

        <button type="button" name="dark_light" onclick="toggleDarkLight()" title="Toggle dark/light mode">Switch Mode🌛</button>

        <br>
        <div class="accordion-container">
            <h2>About Me</h2>
            <h3>Amalia Hanisafitri</h3>
            <div id="jQuery_accordion" class= "ui-accordion">
                <h3 class= "ui-accordion-header">Aktifitas</h3>
                <div>
                    <p>
                        <ul>
                                <li>Mahasiswa Ilmu Komputer UI</li>
                                <li>PIC Sponsorship Educare 2020</li>
                                <li>VPIC Media Partner COMPFEST 2020</li>
                        </ul>
                  </p>
                </div>
                <h3>Pengalaman Organisasi/Kepanitiaan</h3>
                <div>
                    <p>
                        <ul>
                                <li>Staff Humas dan Partnership BETIS 2019</li>
                                <li>Staff Media Partner COMPFEST 2019</li>
                        </ul>
                  </p>
                </div>
                <h3>Prestasi</h3>
                  <div>
                  <p>
                      -
                  </p>
                  </div>
              </div>
        </div>

        <!-- Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src = "{% static 'js/main.js' %}"></script>
            
    </body>
</html>
