body {
    margin-top: 2%;
    background: rgb(165, 121, 194);
    color: white;
}

.judul {
    text-align: center;
}

.input {
    float: center;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}
